{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">{{baidang.tieude}}</h2>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">ID Bài Đăng</label>
                                <input class="form-control" id="first_name" type="text" value="{{baidang.id_baidang}}" placeholder="" readonly required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Ngày đăng</label>
                                <input class="form-control" id="last_name" type="text" value="{{baidang.ngaydang}}" readonly placeholder="" required>
                            </div>
                        </div>
                    </div>
                <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="gender">Giá</label>
                            <input class="form-control" id="last_name" type="text" value="{{baidang.giaban}}" readonly required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="gender">Thân phận</label>
                            <input class="form-control" id="last_name" type="text" value="{{baidang.chudang}}" readonly placeholder="" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" type="email" placeholder="name@company.com" value="admin" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Số điện thoại</label>
                                <input class="form-control" id="phone" type="number" readonly placeholder="0793859963" required>
                            </div>
                        </div>
                    </div>
                    <h2 class="h5 my-4">Thông tin nhà</h2>
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label for="address">Địa chỉ</label>
                                <input class="form-control" id="address" type="text" readonly value="{{diachi}}" placeholder="" rows=2 required>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-3 mb-3">
                            <div class="form-group">
                                <label for="number">Số tầng</label>
                                <input class="form-control" id="number" type="number" readonly value="{{fh.sotang}}" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">Số phòng ngủ</label>
                                <input class="form-control" id="city" type="text" readonly value="{{baidang.sopn}}" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">Nội thất</label>
                                <input class="form-control" id="city" type="text" readonly value="{{baidang.tinhtrang}}" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">Diện tích (m2)</label>
                                <input class="form-control" id="city" type="text" readonly value="{{baidang.dientich}}" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">Dài</label>
                                <input class="form-control" id="city" type="text" readonly value="{{baidang.dai}}" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">Rộng</label>
                                <input class="form-control" id="city" type="text" readonly value="{{baidang.rong}}" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">Loại hình</label>
                                <input class="form-control" id="city" type="text" readonly value="{{fh.loaihinh}}" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">Giá dự đoán </label>
                                <input class="form-control" id="city" type="text" readonly value="1500000" placeholder="" required>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
            
        </div>
        <div class="col-12 col-xl-6">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        
                        <div class="card-body pb-10">
                            <div class="profile-cover rounded-top fill" data-background="/static/assets/img/a.png">
                                <img src="/media/uploads/t%E1%BA%A3i_xu%E1%BB%91ng.jpg" alt="connect" style="max-height:300px">
                            </div>
                            <br>
                            <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>
                                Next
                            </a>
                            <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>
                                Prev
                            </a>
                        </div>
                      </div>
                </div>
                <div class="col-12">
                    <div class="card card-body border-0 shadow mb-4">
                        <h2 class="h5 mb-4">Select profile photo</h2>
                        <div class="d-flex align-items-center">
                            <div class="me-3">
                                <!-- Avatar -->
                                <img class="rounded avatar-xl" src="/static/assets/img/team/profile-picture-3.jpg" alt="change avatar">
                            </div>
                            <div class="file-field">
                                <div class="d-flex justify-content-xl-center ms-xl-3">
                                    <div class="d-flex">
                                        <svg class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>
                                        <input type="file">
                                        <div class="d-md-block text-left">
                                            <div class="fw-normal text-dark mb-1">Choose Image</div>
                                            <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                                        </div>
                                    </div>
                                </div>
                              </div>                                        
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card card-body border-0 shadow">
                        <h2 class="h5 mb-4">Select cover photo</h2>
                        <div class="d-flex align-items-center">
                            <div class="me-3">
                                <!-- Avatar -->
                                <img class="rounded avatar-xl" src="/static/assets/img/profile-cover.jpg" alt="change cover">
                            </div>
                            <div class="file-field">
                                <div class="d-flex justify-content-xl-center ms-xl-3">
                                    <div class="d-flex">
                                        <svg class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>
                                        <input type="file">
                                        <div class="d-md-block text-left">
                                            <div class="fw-normal text-dark mb-1">Choose Image</div>
                                            <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                                        </div>
                                    </div>
                                </div>
                              </div>                                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
